<a href="https://github.com/bytesarena/bytesarena.github.io"><img src="/assets/images/Octocat.png" alt="Github" width="40" height="40">View on Github</img></a>
<br><br>

<a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a>


<h2> Categories </h2>

<ul class="side">
{% for category in site.categories %}

<li class="side"> <a href="/cat/{{ category[0] }}.html"> {{ category[0] }} </a> </li>

{% endfor %}
</ul>







<h2> Posts </h2>


<ul class="side">
{% for post in site.posts %}


<li class="side"> <a href="{{ post.url }}"> {{ post.title }}</a></li>

{% endfor %}
</ul>
