html {
padding: 0;
margin: 0;
}

body {
margin: 0px;
padding: 0px;
}
a.home {
text-decoration: none;
color: cyan;
}

h1 {
margin-top: 0;
}
/*---------------------------------------------------------------------------------*/
.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.wrapper > div {
    padding: 1em;
    height: 100%;
}

.preview {
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.sidebar {

display: none;
}

 @media screen and (min-width: 700px){ 
 .sidebar { 
     margin-right: 2px; 
     margin-top: 5px; 
     display: block; 
 } 
 } 

ul.side {

list-style-type: none;
}

li.side {
  text-decoration: none;
}

.content {
    margin-top: 5px;
}

@media screen and (max-width: 900px) {
.content{
  margin-top: 5px;
  width: 100%;
}


}

/*---------------------------------------------------------------------------------*/

.menubar{
width: 100%;
    background-color: darkslategrey;
    margin: 1px;
}

.menu {
    padding: 0;
    margin: 0;
}
ul.menu {
    list-style-type: none;
}

li.menu {
    display: inline;
}

/*---------------------------------------------------------------------------------*/
/*Header*/
/*---------------------------------------------------------------------------------*/
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: black;
  top: 0;
  left: 0;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  color: lightgreen;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: lightgreen;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: white;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.footer {
    height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}   

a.footer {
   text-decoration: none;
   margin: 5px;
}


#searchBar {
    font-size: 80%;
    padding: 0.43em 0 0.57em;

    #search {
    float: right;

    #searchString {
        width: 283px;
        border: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
        padding: 0.3em 0.6em;
        background-color: #f6f5ea;
        margin-right: 0;
    }

    #searchButton {
        paddign: 0.3em 0.6em;
        background-color: #0B5485;
        border: 1px solid #f6f5ea;
        margin-left: 0;
        color: $white;
        -webkit-appearance: none;
        border-radius: 0;
    }

    #archives {
        line-height: 2;
        float: left;
        color: $black;
        text-wrap: avoid;
    }
    }
}
